################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MaltheSorensen-H2/FileContentIndex
/GenericsDogsAndCircles/GenericsDogsAndCircles/.vs/GenericsDogsAndCircles/FileContentIndex/21ee854b-e621-434b-b280-1e0f5ddfdd0d.vsidx
/GenericsDogsAndCircles/GenericsDogsAndCircles/.vs/GenericsDogsAndCircles/FileContentIndex/9ae250db-5f51-4efd-8bb0-e1a12faf02b8.vsidx
/GenericsDogsAndCircles/GenericsDogsAndCircles/.vs/GenericsDogsAndCircles/FileContentIndex/9e963ac1-c951-4a8d-bc0b-2ba03b5b8ff1.vsidx
/GenericsDogsAndCircles/GenericsDogsAndCircles/.vs/GenericsDogsAndCircles/FileContentIndex/d70146bc-c43b-41fa-b8a0-ab2c9cd0d826.vsidx
/GenericsDogsAndCircles/GenericsDogsAndCircles/.vs/GenericsDogsAndCircles/FileContentIndex/d9fc4d26-526e-425e-bc61-83299cd4f5c0.vsidx
/GenericsDogsAndCircles/GenericsDogsAndCircles/.vs/GenericsDogsAndCircles/FileContentIndex/dc15529f-5269-4b72-958d-ac32e0358378.vsidx
/GenericsDogsAndCircles/GenericsDogsAndCircles/.vs/GenericsDogsAndCircles/FileContentIndex/dc15529f-5269-4b72-958d-ac32e0358378.vsidx
/GenericsDogsAndCircles/GenericsDogsAndCircles/.vs/GenericsDogsAndCircles/FileContentIndex/e94d7420-669d-4e66-8549-71b08d6e2bc9.vsidx
/GenericsDogsAndCircles/GenericsDogsAndCircles/.vs/GenericsDogsAndCircles/FileContentIndex/dc15529f-5269-4b72-958d-ac32e0358378.vsidx
/GenericsDogsAndCircles/GenericsDogsAndCircles/.vs/GenericsDogsAndCircles/FileContentIndex/e94d7420-669d-4e66-8549-71b08d6e2bc9.vsidx
/GenericsDogsAndCircles/GenericsDogsAndCircles/.vs/GenericsDogsAndCircles/FileContentIndex/dc15529f-5269-4b72-958d-ac32e0358378.vsidx
/GenericsDogsAndCircles/GenericsDogsAndCircles/.vs/GenericsDogsAndCircles/FileContentIndex/e94d7420-669d-4e66-8549-71b08d6e2bc9.vsidx
/GenericsVariance/.vs/GenericsVariance/FileContentIndex
/GenericsVariance/.vs/ProjectEvaluation
/LambdaAnimals/.vs/LambdaAnimals/FileContentIndex
/LambdaAnimals/.vs/ProjectEvaluation
/SortingExercise/.vs/SortingExercise/FileContentIndex
/SortingExercise/.vs/ProjectEvaluation
/Palindrome/.vs/Palindrome/FileContentIndex
